*{
    margin: 0;
    padding:0;
}

.container {
    /* padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: black; */
    

    display: grid;
    grid-template-columns: 230px 3fr;
    grid-template-rows: 140px 1fr;
    height: 100vh;
}


/* HEADER */

.header {
    grid-column: 2 / 3;
    background-color: white;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 28px;
}

.top-left{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 30px;
}

.top-right{
    display: flex;
    margin-right: 120px;
    gap: 80px;
}

.search-input{
    width: 500px;
    height: 20px;
    border-radius: 4px;
    background-color: lightgrey;
    border: none;
}


.header-bottom{
    display: flex;
    justify-content: space-between;
    
    margin-top: 30px;

}

.bottom-left{
    display: flex;
    align-items: center;

    margin-left: 30px;
    gap: 10px;
}


.bottom-right{
    display: flex;
    margin-right: 120px;
    gap: 100px;
}

.bottom-right button{
    
    padding: 5px 35px; /* Adjust this to increase/decrease size */
    font-size: 16px; /* Adjust this to increase/decrease size */
    border-radius: 20px;
    border: none;
}


/* SIDEBAR */

.sidebar{
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: rgb(140, 183, 222);

    color: antiquewhite;
    
    display: grid;
    font-weight: bold;
    gap: 100px;
    grid-template-rows: 50px 100px 70px
}

.sidebar h2{
    margin-top: 30px;
    padding-left: 60px;
    grid-row: 1;
}
 
.icons{
    padding-left: 60px;
    grid-row: 2;
}

.support{
    padding-left: 60px;
    grid-row: 3;
}

.icons li, .support li{
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
}

.main{
    grid-column: 2 / 3;
    background-color: hotpink;
}




  


